*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    background-color: #8F57FD;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin: 10px 0 0 10px
}

.haeder__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    position: absolute;
    padding: 0px;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px
}

.header__menu:hover ul, ul:hover { /*Este selector dice que cuando se haga hover a 'header__menu' tomo efecto en 'ul' y que cuando haga hover en 'ul' también suceda esto*/
    display: block;
}

.header__menu li{
    margin: 10px 0px;
}

.header__menu li a{
    color: #fff;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p {
    margin: 0px;
    color: #fff
}

.main{
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__title {
    color: #fff;
    font-size: 25px;
}

.input {
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-family: 'Mali', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

::placeholder {
    color: #fff
}


.categories__titles {
    color: #fff;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}


.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}

.carousel__conteiner {
    white-space: nowrap; /*Envolve each object; each object is must next not down*/
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carousel-item {
    background-color: blanchedalmond;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}

.carousel__conteiner:hover .carousel-item {
    /* Make tht when you hover in a item the other going to apply this opacity */
    opacity: 0.3;
}

.carousel__conteiner:hover .carousel-item:hover {
    /* With hover in an item, it is going to be bigger,scale by 1.5 */
    transform: scale(1.5);
    opacity: 1;
}

.carouse-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%,);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}